#main-footer{
    background: #343a40;
    color:#fff;
}

#page-header{
    height:200px;
    background: url(./img/space.jpg);
    color: #fff;
    border-bottom: 1px #eee solid;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:40px;
}